// Specific CSS for your home
// h1 {
// font-family: "Helvetica";
// margin-top: -25px;
// }

.title p {
  margin-bottom: -30px;
}

.value-prop {
	margin: 50px 0;
}

.value-prop-card {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.value-prop-img {
	height: 150px;
	// height: 50%;
	display: block;
    margin: 0 auto;
}

.value-prop-card > h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
}

.value-prop-card > p {
	text-align: center;
	font-size: 13px;
}

.how-it-works-head {
	text-align: center;
	text-transform: uppercase;
}

.how-it-works-img {
	height: 400px;
	// height: 50%;
	display: block;
    margin: 0 auto;
    padding: 25px 0 25px 100px;
}

.how-it-works {
	margin: 50px 0;
}

.how-it-works-list {
	padding: 25px 0;
}

.how-it-works-list > ul > li > h2 {
	text-align: left;
	text-transform: uppercase;
	font-size: 22px;
}

.how-it-works-list > ul > li > p {
	text-indent: 5%;
}

.real-tasks {
	margin: 50px 0;
}

.real-tasks-head {
	text-align: center;
	text-transform: uppercase;
}

.parallax { 
    /* The image used */
    background-image: url("home-bg.png");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}