.requests-display {
  width: 100%;
  background-color: #F7F7F7;
  box-shadow: 0 1px 6px rgba(57,73,76,.35);
  top: 50%;
  padding-top: 15px;
  margin: 50px 0;
}

.requests-header {
  height: 50px;
  top: 50%;
  padding: 0 15px 15px 15px;
}
.requests-header > h2 {
  margin: 0;
  top: 50%;
  vertical-align: center;
}

.requests-box {
  background-color: #FFFFFF;
  box-shadow: 0 1px 6px rgba(57,73,76,.35);
}

.requests-box > h3 {
  font-size: 16px;
  margin-top: 5px;
}

.requests-box > p {
  font-size: 13px;
}

.request-side {
  margin-top: 100px;
}

.request-top {
 height: 110px;
 box-shadow: 0 1px 6px rgba(57,73,76,.35);
 margin: 0;
}

.request-top img {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
  padding-top: 15px;
}

.request-top-left {
  text-align: left;
  top: 0;
  float: left;
  width: 35%;
  padding: 15px;
}

.request-top-left p {
  font-size: 14px;
}

.request-top-right {
  z-index: 10;  
  right: 0;  
  top: 0;
  float: right;
  text-align: right;
  width: 35%;
  padding: 15px;
}

.request-top-right p {
  font-size: 14px;
}

.request-mid {
  padding: 15px;
}

.request-mid h3 {
  padding-top: 0;
  font-size: 18px;
}

.request-mid p {
  font-size: 13px;
}

.uppers {
  text-transform: uppercase;
}