<p> Owner profile: </p>
<p> Verification status: <%= @owner_profile.verification_status %></p>
<p> Created date: <%= @owner_profile.created_at %></p>

<p><%= link_to "Go to User Dashboard", owner_profile_path %></p>
