<% if current_user.worker_profile %>
<p> Jobs for Workers: </p>
  <% current_user.worker_profile.jobs.each do |job| %>

    <p><%= link_to job_path(job) do %>
      <%=  job.title %>
      <%=  job.description %>
    </p>

    <% end %>
  <% end %>
<% end %>
<%= link_to "List of Workers", worker_profiles_path, style: "color: red" %>
