<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="col-md-2 fp">
    LOCATIONS
    <ul class="footer-link-menu">
      <li><a href="#">Barcelona</a></li>
      <li><a href="#">Madrid</a></li>
      <li><a href="#">Valencia</a></li>
      <li><a href="#">Alicante</a></li>
      <li><a href="#">Malaga</a></li>
    </ul>
  </div>
  <div class="col-md-2 fp">
    POPULAR SERVICES
    <ul class="footer-link-menu">
      <li><a href="#">Painting</a></li>
      <li><a href="#">Plumbing</a></li>
      <li><a href="#">Electrics</a></li>
      <li><a href="#">Carpentry</a></li>
      <li><a href="#">Cleaning</a></li>
      <li><a href="#">Handyman</a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>
  <div class="footer-copyright">
    DDIY <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
