<% if current_user %>
  <% if current_user.photo?  %>
    <img src="<%= cl_image_path current_user.photo, height: 30, width: 30, crop: :thumb, gravity: :face %>" >
    <% else %>
    <div class="avatar-wrapper dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown" >
      <i class="avatar-icon fa fa-user-o" aria-hidden="true"></i>
    </div>
  <% end %>
<% end %>

