<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p><%= link_to "Create Worker profile", new_worker_profile_path %></p>
<p><%= link_to "Create Owner profile", new_owner_profile_path %></p>
<p><%= link_to "Create Job profile", new_job_path %></p>
