<% if params[:controller] ==  "dashboard/dashboards" %>
<% end %>

<% if @job.nil? && @requests.empty? %>
<div class="container">
<div class="row">
<h2><p><%=  "You have no requests at the moment" %></p></h2>
<h2><%=  "Refresh in a minute and check in a minute" %></h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
</div>
<%else%>
  <% @requests.each do |request| %>
  <%= link_to request.job.description, edit_request_path(request) %>
  <% end %>

<%end%>
