
<div class="container">
  <div class="row">

    <% @worker_profiles.each do |worker| %>

      <p> <%= link_to worker_profile_path(worker) do %>
        <%=  worker.skill_area %>
        <%=  worker.price_per_hour %>
        <%= worker.bio %></p>

    <% end %>
  <% end %>

  </div>
</div>
